<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.main" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main" >
        <activity
            android:name="com.user.technician.DashBoard"
            android:exported="false" />
        <activity
            android:name="com.user.technician.FinishedTaskDetails"
            android:exported="false" />
        <activity
            android:name="com.user.technician.RemainingTaskDetails"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianFinishedTasks"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianRemainTasks"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianProfile"
            android:exported="false" />
        <activity
            android:name="com.user.technician.DrawerBase"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianRegister"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.VisitorProductDetails"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.VisitorProducts"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.VisitorShop"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.RequestQuote"
            android:exported="false" />
        <activity
            android:name=".UserNavigation"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>