<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.main">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
        <activity
            android:name="com.user.customer.ViewCustomerTask"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerCreateRequest"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerViewTechnician"
            android:exported="false" />
        <activity
            android:name="com.user.customer.YourRequests"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerViewProduct"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerRequests"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerProfile"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerDrawerBase"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerDashboard"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerRegister"
            android:exported="false" />
        <activity
            android:name="com.user.customer.CustomerLogin"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.RequestQuote"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.VisitorViewProduct"
            android:exported="false" />
        <activity
            android:name="com.user.manager.AddProduct"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ProductView"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ManageCustomerRequest"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ManageProduct"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ManagerProfile"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ManagerDrawerBase"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ManagerRegister"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ManagerDashboard"
            android:exported="false" />
        <activity
            android:name="com.user.manager.ManagerLogin"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.ViewTechnician"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.VisitorProduct"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.VisitorTechnician"
            android:exported="false" />
        <activity
            android:name="com.user.visitor.VisitorDashboard"
            android:exported="false" />
        <activity
            android:name="com.user.technician.DashBoard"
            android:exported="false" />
        <activity
            android:name="com.user.technician.FinishedTaskDetails"
            android:exported="false" />
        <activity
            android:name="com.user.technician.RemainingTaskDetails"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianFinishedTasks"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianRemainTasks"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianProfile"
            android:exported="false" />
        <activity
            android:name="com.user.technician.DrawerBase"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianRegister"
            android:exported="false" />
        <activity
            android:name=".UserNavigation"
            android:exported="false" />
        <activity
            android:name="com.user.technician.TechnicianLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>